html {
  background: url(http://bulk2.destructoid.com/ul/223130-/SOUTHPARK_AVEwSign-noscale.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#player1{
  margin-left: 0;
  width: 20%;
  height: 20%;
}

#player2{
  margin-left: 0;
  width: 20%;
  height: 20%;
}

.board{
  position: fixed;
  bottom: 0;
  width: 80%;
}

#start{
  margin: 0 auto; 
  display: block;
  font-size:20px;
  font-weight:700;
  color:#fff;
  line-height:35px;
  width:90px; 
  text-align:center;
  background: top repeat-x #308da2;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;behavior:url(js/PIE.htc);
  position:relative;
  text-decoration:none
}