.mdl-layout__header-row {
	background-color: #0236EA;
	color: #D9D7DC;
}

.navbar-title {
  font-family: 'Bitter';
  font-size: 28px;
}

.drawer-title {
  font-family: 'Bitter';	
}

.navbar-link{
	text-decoration: none;
	color: #D9D7DC;
	margin: 10px;
	font-family: 'Bitter';
	font-size: 20px;
}

.navbar-link:hover {
	color: #E2AA2F;
}

.material-icons {
	color: #D9D7DC;
}

.mdl-layout__content {
  background: url('../images/index_picture.jpg') center / cover;
}

.mdl-layout__header .mdl-layout__drawer-button {
  background-color: #0236EA;
}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  color: white;
}

.drawer-link {
	text-decoration: none;
	color: #1D1E20;
	font-family: 'Bitter';
	font-size: 20px;
}
.mdl-mini-footer {
	background-color: #1D1E20;
}

.mdl-logo {
	display: inline-block;
	margin: 1px;
	padding: 0;
}

.logo{
	font-size: 30px;
	color: #E2AA2F;
}

.fa {
	margin-top: 50%;
}

.popup {
    width:100%;
    height:100%;
    overflow: scroll;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    z-index: 100;
}
 
.popup-inner {
    max-width:700px;
    width:65%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

.skills {
	width: 75%;
  height: 80%;
  display: flex;
  padding-left: 0;
  padding-right: 70px;
}
#skills-1 {
	float: left;
	margin-left: 5%;
	width: 12.5em;
	padding: 0;
}

#skills-2 {
	float: right;
	margin-left: 25%;
	width: 12.5em;
	padding: 0;
}

.skill {
  margin: 0 auto;
  height: 10em;
  width: 100%;
}

.skill h5 {
	font-family: 'Bitter';
	color: #1D1E20;
}

.skill li {
	list-style-type: none;
	font-family: 'Bitter';
	color: #E2AA2F;
}

.projects-list {
	height: 80%;
	overflow: auto;

}

.project {
	display: inline-block;
	margin: 10px;
}

.project a {
	text-decoration: none;
	color: #1D1E20;
}

.project-close {
	text-decoration: none;
	color: #1D1E20;
}

.project-close:hover {
	color: #E2AA2F;
}

.project-image{
	border: 5px solid #1D1E20; 
	float: left; margin: 15px; 
	-webkit-transition: margin 0.5s ease-out; 
	-moz-transition: margin 0.5s ease-out; 
	-o-transition: margin 0.5s ease-out; 
} 

.project-image:hover { 
  margin: 2px;
}

#kidpanion {
	content: url('../images/kidpanion.png') center / cover;
	max-height: 100%;
	max-width: 100%;
}

#stack-overflow {
	content: url('../images/stackoverflowclone.png') center / cover;
	max-height: 100%;
	max-width: 100%;	
}

#survey-panda {
	content: url('../images/surveypanda.png') center / cover;
	max-height: 100%;
	max-width: 100%;		
}

#flashcards {
	content: url('../images/flashcards.png') center / cover;
	max-height: 100%;
	max-width: 100%;		
}

.resume-div {
  padding: 0;
}

.resume {
	content: url(../images/resume.png);
	max-width: 100%;
	margin: 0 auto;
  padding: 0;
}
 
.about-me p {
	font-family: 'Bitter';
}

.contact-me p{
	font-family: 'Bitter';
	text-align: center;
}
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

.mdl-mini-footer{
	padding: 0;
	height: 8%;
}

.mdl-mini-footer__right-section {
	margin-right: 2%;
}